.menu{
    width: 230px;
    height: 400px;
    background-color: #395d94;
    display: flex;
    flex-direction: column;
}

.menu-title{
    font-size: 28px;
    padding-bottom: 10px;
    padding-top: 30px;
    margin-bottom: 50px;
    align-self: center;
    border-bottom: 2px solid black;
}

.menu ul li{
    margin-bottom: 16px;
}

.menu ul li a{
    text-decoration: none;
    color: white;
    font-size: 22px;
}

.menu ul li a:hover{
    color: #ff1040;
    transition: color .5ms ease;
}