.profile-poster{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: start;
    background-color: white;
    padding: 30px;
    width: 90%;
    min-height: 300px;
}

.new-poster{
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}

.new-poster p{
    font-size: 18px;
    margin-left: 30px;
}

.rules{
    color: white;
    background-color: #395d94;
    height: 94%;
    padding: 30px;
}

.new-poster form{
    margin-right: 30px;
}

.new-poster label{
    font-size: 23px;
}

.new-poster textarea{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 200px;
    height: 100px;
}

.new-poster button{
    background-color: #395d94;
    margin-bottom: 20px;
    position: center;
    color: white;
    width: 200px;
    height: 40px;
    padding: 10px;
}

.new-poster input{
    width: 200px;
    margin-top: 30px;
}

.all-poster{
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    margin-top: 20px;
}

.post{
    border: 1px solid black;
    background-color: #395d94;
    color: white;
    min-width: 200px;
    padding: 25px;
    margin: 20px;
}

.post .post-title{
    font-size: 22px;
}

