.profile-container {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: space-around;
    width: 90%;
    min-height: 60vh;
    padding-bottom: 50px;
}

.profile-data .login{
    font-size: 23px;
}

.text-info{
    display: inline-block;
    margin-top: 20px;
}

.profile-container span{
    color: black;
    font-size: 16px;
    text-align: center;
}

.profile-data{
    text-align: start;
}


.profile-info-section1{
    display: flex;
    padding: 20px;
    justify-content: space-around;
}

.profile-info {
    width: 100%;
    min-height: 30vh;
    background-color: white;
    margin-bottom: 5vh;
}


.profile-statistic {
    width: 100%;
    min-height: 20vh;
    background-color: white;
}


img{
    width: 240px;
    height: 240px;
    border: 3px solid black;
}


.profile-description{
    width: 80%;
    margin: 20px auto;
}
